.tt-cursor {
    background-color: blue !important;
    color: white !important;
}
div#outputwrapper {
    position: absolute;
    top:  10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#inputwrapper {
    white-space: nowrap;
    position: absolute;
    top:  25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#notes {
    white-space: nowrap;
    position: absolute;
    bottom:  10%;
    left: 50%;
    transform: translate(-50%,50%);
}
input#btnClear {
    float: left;
    margin-right: 1em;
}