.tt-cursor {
    background-color: blue !important;
    color: white !important;
}
div#inputwrapper {
    position: absolute;
    top:  20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#outputwrapper {
    position: absolute;
    top:  10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input#btnClear {
    float: left;
    margin-right: 1em;
}