.visuallyHidden{
    display: none;
}

body.bodyclass{
    text-align: center
}

#mainContent{
    overflow: auto;
}

div.menuBar{
    line-height: 2em;
}

a.w3-bar-item{
    float: none !important;
    display: inline !important;
}

div.paginationBar{
    overflow: visible;
}

div#jinJiangBiao{
    margin-top: 8px;
}

div#inputwrapper {
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
}
div#outputwrapper {
    margin-top: 2em;
}

div#skillswrapper {
    margin-top: 2em;
}
.skillItem {
    text-align: left;
}

div.secondaryTab{
    display: none;
    text-align: left;
}

div#footer {
    white-space: nowrap;
    font-size: 0.8em;
}

div#footerInnerContainer {
    padding: 5px 0 5px 0;
}

a.normalLink {
    color: -webkit-link !important;
}

.footerItem {
    padding-left: 0.5em;
}

input#query {
    margin-right: 1em;
    vertical-align: baseline !important;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-cursor {
    background-color: blue !important;
    color: white !important;
}

.tt-hint {
    width: auto;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: auto;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    opacity: 1;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

::-webkit-scrollbar {
   -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
   width: 10px;
}

::-webkit-scrollbar:horizontal {
   height: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: #ccc;
   border-radius: 10px;
   border: 2px solid #eee;
}

::-webkit-scrollbar-track { 
   background-color: #eee; 
}
